[submodule "ThirdParty/box2d"]
	path = ThirdParty/box2d
	url = https://github.com/gameoflord012/box2d.git
	branch = main
[submodule "ThirdParty/SFML"]
	path = ThirdParty/SFML
	url = https://github.com/gameoflord012/SFML.git
	branch = 2.3.x
