[submodule "ThirdParty/box2d"]
	path = ThirdParty/box2d
	url = https://github.com/gameoflord012/box2d.git
	branch = main
[submodule "ThirdParty/SFML"]
	path = ThirdParty/SFML
	url = https://github.com/gameoflord012/SFML.git
	branch = master
[submodule "ThirdParty/imgui"]
	path = ThirdParty/imgui
	url = https://github.com/gameoflord012/imgui.git
	branch = master
[submodule "ThirdParty/imgui-sfml"]
	path = ThirdParty/imgui-sfml
	url = https://github.com/gameoflord012/imgui-sfml.git
	branch = master
